@model Data.Domain.Interfaces.ServiceInterfaces.Models.MedicineViewModels.MedicineEditModel

@{
    ViewData["Title"] = "Edit";
}

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IMedicineService _service

<center>
    <h2>Edit</h2>

    <h4>Medicine</h4>
    <hr />
</center>
<center>
    <div class="row">
        <div class="col-md-4" style="float:none">
            <form multiple="multiple" runat="server" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prospect" class="control-label"></label>
                    <input asp-for="Prospect" class="form-control" />
                    <span asp-validation-for="Prospect" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Additional files:</b>
                    <br />
                    @foreach (var file in _service.GetNamesOfFiles(Model.Id))
                    {
                        /*@Html.ActionLink(@file, "Download", "Consults", new { consultId = Model.Id, fileName = @file }, FormMethod.Post)
                        using (Html.BeginForm("Download", "Consults", new { consultId = Model.Id, fileName = @file }, FormMethod.Post, null, new { }))
                        {
                            <button>@file</button>
                        }*/
                        <!--<input type="button" id="file_@file" value="@file" />-->
                        <p>@file</p>
                        <br>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label">Upload more files</label>
                    <input type="file" multiple="multiple" asp-for="File" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</center>

<div>
    <center>
        <a asp-action="Index">Back to List</a>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
