@model Data.Domain.Entities.Answer


@{
    ViewData["Title"] = "Details";
}

<div class="General_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div>
        <p><b>Created at:</b><br />@Html.DisplayFor(model => model.AnswerDate)</p>
        <p><b>Answer:<br /></b> @Html.DisplayFor(model => model.Text)</p>
        
    </div>
    <br />
    <br />
</div>
