@model Data.Domain.Entities.Answer


@{
    ViewData["Title"] = "Details";
}

<center>

    <h2>Details about this Answer</h2>

    <hr />

    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 160px;text-align: center;font-weight: bold;">
                    Created at:
                </td>
                <td style="width: 160px; text-align: center;">
                    @Html.DisplayFor(model => model.AnswerDate)
                </td>
            </tr>
            <tr>
                <td style="width: 160px;text-align: center;font-weight: bold;">
                    Answer:
                </td>
                <td style="width: 160px; text-align: center;">
                    @Html.DisplayFor(model => model.Text)
                </td>
            </tr>
        </tbody>
    </table>

</center>