@model Data.Domain.ServiceInterfaces.Models.AnswerViewModels.AnswerEditModel;

@{
    ViewData["Title"] = "Answer - Edit";
}
<div class="General_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <br />
    <div class="row_login">
        <div class="Login_labels">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <!-- <label asp-for="UserId" class="control-label" type="hidden"></label> -->
                    <input asp-for="UserId" class="input_remake" type="hidden" />
                    <!-- <span asp-validation-for="UserId" class="text-danger" type="hidden"></span> -->
                </div>


                <div class="form-group">
                    <!--  <label asp-for="QuestionId" class="control-label" type="hidden"></label> -->
                    <input asp-for="QuestionId" class="input_remake" type="hidden"/>
                    <!--  <span asp-validation-for="QuestionId" class="text-danger"></span> -->
                </div>

                <div class="form-group">
                    <b>Text</b>
                    <input asp-for="Text" class="input_remake" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="button_remake" />
                </div>
            </form>

        </div>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
