@model Data.Domain.ServiceInterfaces.Models.AnswerViewModels.AnswerEditModel;

@{
    ViewData["Title"] = "Edit";
}
<center>

    <h2>Edit this Answer</h2>

    <hr />

    <div class="row" style="margin: auto; width: 50%;">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <!-- <label asp-for="UserId" class="control-label" type="hidden"></label> -->
                <input asp-for="UserId" class="form-control" type="hidden" style="text-align:center" />
                <!-- <span asp-validation-for="UserId" class="text-danger" type="hidden"></span> -->
            </div>


            <div class="form-group">
                <!--  <label asp-for="QuestionId" class="control-label" type="hidden"></label> -->
                <input asp-for="QuestionId" class="form-control" type="hidden" style="text-align:center" />
                <!--  <span asp-validation-for="QuestionId" class="text-danger"></span> -->
            </div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" style="text-align:center" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

    </div>

</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
