@{
    ViewData["Title"] = "Contact:";
}
<div class="About_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <br />
    <address>
        <strong>Address:</strong> Headquarter's Adress ,<br />
        <strong>Fax:</strong>...<br />
        <abbr><strong>Phone:</strong>07518710**</abbr>
    </address>

    <address>
        <strong>Official e-mail:</strong> <a href="mailto:MediArchOfficial@mediarch.com">MediArchOfficial@mediarch.com</a><br /><br />
        <strong>Marketing:</strong> <a href="mailto:MediArchMarketing@mediarch.com">MediArchMarketing@mediarch.com</a>
    </address>

    <address>
        <h3>For any problems, contact:</h3>
        <strong>Support(General):</strong> <a href="mailto:MediArchSupport@mediarch.com">MediArchSupport@mediarch.com</a><br /><br />
        <strong>Moderators:</strong> <a href="mailto:Moderator1@mediarch.com">Moderator1@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator2@mediarch.com">Moderator2@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator3@mediarch.com">Moderator3@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator4@mediarch.com">Moderator4@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator5@mediarch.com">Moderator5@mediarch.com</a><br />
    </address>
</div>