@{
    ViewData["Title"] = "Contact:";
}
<br />
<img src="~/images//Contact.png" class="img_logos">

<div class="About_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <br />
    <p>
        <strong>Address: </strong> Headquarter's Adress ,<br />
        <strong>Fax: </strong>...<br />
        <strong>Phone: </strong>07518710**
    </p>
    <br />

    <p>
        <strong>Official e-mail:</strong> <a href="mailto:MediArchOfficial@mediarch.com">MediArchOfficial@mediarch.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:MediArchMarketing@mediarch.com">MediArchMarketing@mediarch.com</a>
    </p>
    <br />

    <p>
        <h2>For any problems, contact:</h2>
    <p>
        <strong>Support(General):</strong> <a href="mailto:MediArchSupport@mediarch.com">MediArchSupport@mediarch.com</a><br /><br />
        <strong>Moderators:</strong> <a href="mailto:Moderator1@mediarch.com">Moderator1@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator2@mediarch.com">Moderator2@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator3@mediarch.com">Moderator3@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator4@mediarch.com">Moderator4@mediarch.com</a><br />
        <strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <a href="mailto:Moderator5@mediarch.com">Moderator5@mediarch.com</a><br />
    </p>
    </p>
</div>