@model MediArchNew.Models.ConsultViewModels.CreateNewConsultModel

@{
    ViewData["Title"] = "CreateNewConsult";
    var mid = TempData["MId"];
    var pid = TempData["PId"];
}

<h2>CreateNewConsult</h2>

<h4>CreateNewConsultModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input value="@mid"/>
        <input value="@pid"/>

        <form asp-action="CreateNewConsult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medicines" class="control-label"></label>
                <input asp-for="Medicines" class="form-control" />
                <span asp-validation-for="Medicines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultResult" class="control-label"></label>
                <input asp-for="ConsultResult" class="form-control" />
                <span asp-validation-for="ConsultResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
