<!--model Data.Domain.Entities.Consult-->
@model Data.Domain.Interfaces.ServiceInterfaces.Models.ConsultViewModels.ConsultEditModel

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IConsultService file_service

@{
    ViewData["Title"] = "Edit";
}

<center>
    <h2>Edit</h2>

    <h4>Consult</h4>
    <hr />
</center>
<center>
    <div class="row">
        <div class="col-md-4" style="float:none">
            <form multiple="multiple" runat="server" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="MedicId" class="control-label"></label>
                    <input asp-for="MedicId" class="form-control" />
                    <span asp-validation-for="MedicId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PacientId" class="control-label"></label>
                    <input asp-for="PacientId" class="form-control" />
                    <span asp-validation-for="PacientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConsultDate" class="control-label"></label>
                    <input asp-for="ConsultDate" class="form-control" />
                    <span asp-validation-for="ConsultDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Medicines" class="control-label"></label>
                    <input asp-for="Medicines" class="form-control" />
                    <span asp-validation-for="Medicines" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConsultResult" class="control-label"></label>
                    <input asp-for="ConsultResult" class="form-control" />
                    <span asp-validation-for="ConsultResult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Consult's files:</b>
                    <br />
                    @foreach (var file in file_service.GetNamesOfFiles(Model.Id))
                    {
                        //@Html.ActionLink(@file, "Download", "Consults", new { consultId = Model.Id, fileName = @file }, FormMethod.Post)
                        /*using (Html.BeginForm("Download", "Consults", new { consultId = Model.Id, fileName = @file }, FormMethod.Post, null, new { }))
                         {
                             <button>@file</button>
                         }*/
                        <!--<input type="button" id="file_@file" value="@file"/>-->
                        <p>@file</p>
                        <br>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label">Upload more files</label>
                    <input type="file" multiple="multiple" asp-for="File" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</center>
<center>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</center>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('[id*=file_]').click(function () {

            var cnsId = $('[id=Id]').val();
            var fName = this.id.substring(5);


            $.ajax({
                type: 'POST',
                url: '/Consults/Download',//'@Url.Action("Download", "Consults")',//
                data: { consultId: cnsId, fileName: fName },
                success: function () {
                    console.log(cnsId);
                    console.log(fName);
                }
            }).done(function (data) { console.log("done") });
        });
    });
</script>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
