
@{
    ViewData["Title"] = "Doctors by Specialization";
}

@using MediArch.Services.Interfaces
@inject IApplicationUserService service

<div class="General_remake">
    <br />
    <img src="~/images//Doctors.png" class="img_logos">
    <br />
    <div class="talbe_remake">
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Specializare
                    </th>

                    <th>
                        Medici
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (string item in service.GetAllSpecializations())
            {
                    <tr>
                        <td>
                            <p>@item</p>
                        </td>

                        <td>
                            <table class="More_a_remake">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    @foreach (ApplicationUser usr in service.GetAllMedicsForCertainSpecialization(@item))
                                    {
                                        <tr>
                                            <td>
                                                <p><a asp-action="Details" asp-controller="Account" asp-route-id="@usr.Id">@service.GetFullNameById(usr.Id.ToString()).ToString() (@usr.Email)</a></p>
                                            </td>
                                        </tr>
                                    }
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

