@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Phone :</abbr>
    0751 871 000
</address>

<address>
    <strong>Email:</strong>   <a>georgekosmingeorge@yahoo.com</a><br />
    <strong>Gmail:</strong> <a>georgecosminmorosanu@gmail.com</a>
</address>