@model Data.Domain.Entities.Question

@{
    ViewData["Title"] = "Details";
}
<center>

    <h2>Questions</h2>

    <h4>Details about this Question</h4>

    <hr />

    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 160px;text-align: center;font-weight: bold;">
                    Created at:
                </td>
                <td style="width: 160px; text-align: center;">
                    @Html.DisplayFor(model => model.CreatedDate)
                </td>
            </tr>
            <tr>
                <td style="width: 160px;text-align: center;font-weight: bold;">
                    Topic:
                </td>
                <td style="width: 160px; text-align: center;">
                    @Html.DisplayFor(model => model.Topic)
                </td>
            </tr>
            <tr>
                <td style="width: 160px;text-align: center;font-weight: bold;">
                    Question:
                </td>
                <td style="width: 160px; text-align: center;">
                    @Html.DisplayFor(model => model.Text)
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit this Question</a>
        <br>
        <a asp-action="Index">Back to all Questions</a>
    </div>
</center>

