@{
    ViewBag.Title = "Home Page";
}
<div style="margin: 0; 
            position: relative;
            text-align: center">
    
    <h1> Welcome to MediArch! </h1>
    
    <h3> A short description about MediArch </h3>
    <h3> To Login/Register press on "MediArch" from the menu!</h3>
    
</div>

